
.main_background{
    background: url('background_placeholder.jpg');
    background-size: cover;
}

img{
    width: 50%;
    height:auto;
}

.title{
    color:rgba(41, 41, 41);
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 0px;
}
.title h1{
    font-size: 100px
}
.title h2{
    font-size: 75px
}